<header>
  <nav class="navbar">
    <div class="logo"><a href="/">MediSchedulix</a></div>
    <ul class="nav-links">
      <li><a href="/services">Services</a></li>
      <li><a href="/doctor">Doctors</a></li>
      <li><a href="#news">News</a></li>
      <li class="dropdown">
        <a href="#pages">Pages &#x25BC;</a>
        <ul class="dropdown-menu">
          <li><a href="#page1">Page 1</a></li>
          <li><a href="#page2">Page 2</a></li>
          <li><a href="#page3">Page 3</a></li>
        </ul>
      </li>
    </ul>
    <div class="nav-actions">
      <a href="#help" class="help">Help</a>
      <a href="/bookappointment" class="book-appointment" type="submit">Book Appointment</a>
    </div>
    <button class="hamburger">
      &#9776;
    </button>
  </nav>
</header>
